/*ARCHIVO DE ESTILOS EN SCSS*/

/*RESETEO*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color1: black;

$colorFondo1: blueviolet;

$letraColor: white;
$letraColor2: rgb(218, 211, 211);

$transparencia: rgba(0, 0, 0, 0.5);

$width1: 100%;
$width2: 200px;

$hover1: rgb(113, 111, 111);
$hover2: brown;

$fuente1: Verdana,Geneva,Tahoma,sans-serif;

/*-----------------------------------------PROPIEDADES DEL NAV------------------------------------------------------*/
.navbar {
    background-color: $color1;
}

.nav-item:hover {
    background-color: $hover1;
    border-radius: 10px;
}

.nav-link:hover {
    color: $color1 !important;
}

/*-----------------------------------------------------------------------------------------------*/
/*Fondo de principal*/
.f {
    background-color: $colorFondo1;
    background-image: url(multimedia/FONDO\ MAIN\ 2.jpg);
    text-align: center;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.f2 {
    background-image: url(multimedia/FONDO\ MAIN\ 2.jpg);
    color: $letraColor;
    background-size: initial;
    background-position: top;
    text-align: center;
}

h1 {
    
    text-align: center;
    color: $letraColor;
    width: $width1;
    padding: 10px;
    animation-duration: 10s;
    animation-name: textoAnim;
}

@keyframes textoAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.fondotransp {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: $fuente1;
    font-size: 20px;
    width: $width1;
   
}

.fondotransp p{
    color: $letraColor;
    text-align: center;
}

h2 {
    background-color: $color1;
    text-align: center;
    color: $letraColor;
    padding: 10px;
    margin: 0;
}

.games {
    display: flex;
    justify-content: space-around;
    background-color: $colorFondo1;
    background-image: url(multimedia/imagen\ 3\ -\ muñecos.jpg);
    background-size: cover;
    background-position: center;
    width: $width1;
    height: 320px;
    margin: 0;
}

/* cuadriculas para las pages correspondientes, novedades, audio, mercancia etc...*/
.cuadrila_varios {
    width: $width1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 225px);
    padding: 5px;
    grid-gap: 5px;
}

.item {
    border: 5px solid $letraColor;
    padding-top: 5px;
    overflow: hidden;
    color: $letraColor;
    text-align: center;
    animation-duration: 10s;
    animation-name: itemAnim;
}

@keyframes itemAnim {
    0% {
        opacity: 0;
    }

    50%{
        opacity: 0,5;
    }

    100% {
        opacity: 1;
    }

}

.item:hover {
    transform: scale(0.9);
}

.item img {
    height: 120px;
    width: $width2;

}

.item p {
    color: $letraColor;
    font-weight: bold;
}

footer {
    background-color: $color1;
    color: $hover1;
    text-align: center;
    padding-top: 18px;
}

.foot {
    display: flex;
    justify-content: space-around;
}

.redes a{
    font-size: 50px;
    height: 60px;
    text-align: center;
    color: $hover1;
}

.redes i {
    letter-spacing: 22px;
    text-decoration: none;
    padding-top: 20px;
}

.redes i:hover{
    transform: scale(0.9);
}
/*Efecto de hover en iconos de redes sociales*/
.redes a:hover{
    color: $hover2;

}

.foot-1 a:hover {
    color: $hover2;
}

.foot-1 a {
    text-decoration: none;
    display: block;
    font-size: 16px;
    color: $hover1
}

div form {
    color: $letraColor;
    padding: 25px;

}

.fondo {
    background-color: aqua;
    background-image: url(multimedia/FONDO\ MAIN\ 2.jpg);
    background-position: center;
    background-size: cover;
}

main {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 35%, rgba(255,183,0,1) 100%);
}


/*Media queries - INICIA*/

@media screen and (min-width: 480px) {
    .cuadrila_varios {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 225px);
    }

    .item {
        border: 1px solid $letraColor;
    }
    main {
        background: rgb(2,0,36);
        background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 35%, rgba(255,183,0,1) 100%);
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {

    .collapse {
        display: flex;
        justify-content: flex-end;
    }

    #grilla {
        display: grid;
        grid-template-areas:
            "titulo titulo titulo titulo titulo"
            "parrafo parrafo parrafo ifr ifr";
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 50px 400px;
    }

    #grilla h1 {
       
        grid-area: titulo;
    }

    #grilla p {
        grid-area: parrafo;
        justify-self: center;
        align-self: center;
        text-align: center;

    }

    #grilla iframe {
        grid-area: ifr;
        justify-self: center;
    }

    .jumbotron iframe {
        width: 400px;
        height: 400px;
    }

    .f2 {
        background-size: cover;
    }

    .cuadrila_varios {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 225px 225px 225px;
    }
    .item {
        border: 1px solid $letraColor;
    }

    main {
        height: 150vh;
    }

}

@media screen and (min-width: 1024px) {
    .collapse {
        display: flex;
        justify-content: flex-end;
    }

    #grilla {
        display: grid;
        grid-template-areas:
            "titulo titulo titulo titulo titulo "
            "parrafo parrafo  ifr ifr ifr";
        grid-template-columns: repeat(5, 2fr);
        grid-template-rows: 50px 400px;
    }

    #grilla h1 {
        grid-area: titulo;
    }

    #grilla p {
        grid-area: parrafo;
        justify-self: center;
        align-self: center;
        text-align: center;

    }

    #grilla iframe {
        grid-area: ifr;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-self: center;
    }

    .jumbotron iframe {
        width: 90%;
        height: 400px;
    }

    .f2 {
        background-size: cover;
    }
    main {
        height: 90vh;
    }

    .cuadrila_varios {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 225px);
    }
    .item {
        border: 1px solid $letraColor; 
    }
}


/*--------------------------------------------BOTON DE SUBIR-------------------------------------------------*/