@charset "UTF-8";
/*ARCHIVO DE ESTILOS EN SCSS*/
/*RESETEO*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----------------------------------------PROPIEDADES DEL NAV------------------------------------------------------*/
.navbar {
  background-color: black;
}

.nav-item:hover {
  background-color: rgb(113, 111, 111);
  border-radius: 10px;
}

.nav-link:hover {
  color: black !important;
}

/*-----------------------------------------------------------------------------------------------*/
/*Fondo de principal*/
.f {
  background-color: blueviolet;
  background-image: url(./multimedia/FONDO/FONDO\ MAIN\ 2.jpg);
  text-align: center;
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.f2 {
  background-image: url(./multimedia/FONDO/imagen\ 3\ -\ muñecos.jpg);
  color: white;
  background-size: initial;
  background-position: top;
  text-align: center;
}

.fondo3{
  background-image: url(./multimedia/FONDO/FONDO3.jpg);
  background-size: cover;
  background-position: center;
}
main {
  background-color: white;
  overflow:auto;
}
.form-control {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #007ffe;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#contenedorJuegos{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  background-color:rgba(255, 255, 255, 0.4);
}
.card-text{
  text-align: left;
}
.card-body{
  text-align: center;
}

.card:hover {
  transform:scale(1.1);
}

.button-float{
  position: fixed;
  bottom: 60px;
  right: 20px;
}

.button-float button{
  background-color: red;
  color: #fff;
  border: none;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50%;
  font-size: 36px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.button-float button:hover {
  background-color: #000000;
  transform:scale(1.2);
}
/*-------------------------------------------------*/

h1 {
  text-align: center;
  text-shadow: 5px 5px 5px black;
  color: white;
  width: 100%;
  padding: 10px;
  animation-duration: 10s;
  animation-name: textoAnim;
}

@keyframes textoAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fondotransp {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  width: 100%;
}

.fondotransp p {
  color: white;
  text-align: center;
}

h2 {
  background-color: black;
  text-align: center;
  color: white;
  padding: 10px;
  margin: 0;
}

.games {
  display: flex;
  justify-content: space-around;
  background-color: blueviolet;
  background-image: url(./multimedia/FONDO/imagen\ 3\ -\ muñecos.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 320px;
  margin: 0;
}

/* cuadriculas para las pages correspondientes, novedades, audio, mercancia etc...*/
.cuadrila_varios {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(8, 225px);
  padding: 5px;
  grid-gap: 5px;
}

.item {
  border: 5px solid white;
  padding-top: 5px;
  overflow: hidden;
  color: white;
  text-align: center;
}

/*Animacion para aparicion de ITEMS*/
@keyframes itemAnim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0, 5;
  }
  100% {
    opacity: 1;
  }
}
.item:hover {
  transform: scale(0.9);
}

.item img {
  height: 120px;
  width: 200px;
}

.item p {
  color: white;
  font-weight: bold;
}


footer {
  background-color: black;
  color: rgb(113, 111, 111);
  text-align: center;
  padding-top: 18px;
  clear: both;
  
}

.foot {
  display: flex;
  justify-content: space-around;
}

.redes a {
  font-size: 50px;
  height: 60px;
  text-align: center;
  color: rgb(113, 111, 111);
}

.redes i {
  letter-spacing: 22px;
  text-decoration: none;
  padding-top: 20px;
}

.redes i:hover {
  transform: scale(0.9);
}

/*Efecto de hover en iconos de redes sociales*/
.redes a:hover {
  color: brown;
}

.foot-1 a:hover {
  color: brown;
}

.foot-1 a {
  text-decoration: none;
  display: block;
  font-size: 16px;
  color: rgb(113, 111, 111);
}

div form {
  color: white;
  padding: 25px;
}

.fondo {
  background-color: aqua;
  background-image: url(multimedia/FONDO\ MAIN\ 2.jpg);
  background-position: center;
  background-size: cover;
}



/*Media queries - INICIA*/
@media screen and (min-width: 480px) {
  .cuadrila_varios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 225px);
  }
  .item {
    border: 1px solid white;
  }
  main {
    background-color: white;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .collapse {
    display: flex;
    justify-content: flex-end;
  }
  #grilla {
    display: grid;
    grid-template-areas: "titulo titulo titulo titulo titulo" "parrafo parrafo parrafo ifr ifr";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 400px;
  }
  #grilla h1 {
    grid-area: titulo;
  }
  #grilla p {
    grid-area: parrafo;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  #grilla iframe {
    grid-area: ifr;
    justify-self: center;
  }
  .jumbotron iframe {
    width: 400px;
    height: 400px;
  }
  .f2 {
    background-size: cover;
  }
  .cuadrila_varios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 225px 225px 225px;
  }
  .item {
    border: 1px solid white;
  }
  main {
    display: grid;
    height: 100vh;
  }
}
@media screen and (min-width: 1024px) {
  .collapse {
    display: flex;
    justify-content: flex-end;
  }
  #grilla {
    display: grid;
    grid-template-areas: "titulo titulo titulo titulo titulo " "parrafo parrafo  ifr ifr ifr";
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: 50px 400px;
  }
  #grilla h1 {
    grid-area: titulo;
  }
  #grilla p {
    grid-area: parrafo;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  #grilla iframe {
    grid-area: ifr;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-self: center;
  }
  .jumbotron iframe {
    width: 90%;
    height: 400px;
  }
  .f2 {
    background-size: cover;
  }
  main {
    height: 90vh;
  }
  .cuadrila_varios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 225px);
  }
  .item {
    border: 1px solid white;
  }
}
/*--------------------------------------------BOTON DE SUBIR-------------------------------------------------*/

/*# sourceMappingURL=estilos.css.map */
